<body>
  <h1>Create a new account</h1>
  <form action="/auth/sign-up" method="POST">
    <label>Username:</label>
    <input type="text" name="username" id="username" />
    <br />
    <label>Password:</label>
    <input type="password" name="password" id="password" />
    <br />
    <label>Confirm Password:</label>
    <input type="password" name="confirmPassword" id="confirmPassword" />
    <br />
    <label>Age:</label>
    <input type="number" name="age" id="age" />
    <br />
    <label>Nationality:</label>
    <input type="text" name="nationality" id="nationality" />
    <br />
    <label>Gender:</label>
    <input type="radio" name="gender" id="male" />
    <label for="male">Male</label>
    <input type="radio" name="gender" id="female" />
    <label for="female">Female</label>
    <br />
    <label>Married:</label>
    <input type="radio" name="married" id="true" />
    <label for="true">True</label>
    <input type="radio" name="married" id="false" />
    <label for="false">False</label>
    <br />
    <button type="submit">Sign up</button>
  </form>
</body>