<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>Document</title>
  </head>
  <body>
    <%- include('./partials/_navbar.ejs') %>
    <div id="hero">
      <h1>Explore cities like never before</h1>
      <h4>A place to find lifelong travel buddies</h4>
    </div>
  </body>
</html>
