ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.directions {
  float: left;
}

.actions {
  float: right;
}

li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

li a:hover {
  font-size: 18px;
}
