body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}


.profile-info img {
  width: 150px;
  height: 150;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  margin-left: 315px;
  border: 3px solid #8086fc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
}

.profile-container {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.profile-container h1 {
  text-align: center;
  font-size: 36px;
  color: #333;
}


.profile-info {
  .profile-info {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
}

.profile-info div {
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 10px 0;
}

.profile-info span.label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.profile-info .value {
  color: #555;
}

.profile-info input,
.profile-info select {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 15px;
}

.profile-info input[type="file"] {
  padding: 5px;
}

.profile-actions {
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

.button:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}


.button.edit {
  background-color: #4CAF50;
}

.button.edit:hover {
  background-color: #45a049;
}

.button.delete {
  background-color: #f44336; 
}

.button.delete:hover {
  background-color: #e53935;
}


.button, .button:hover {
  transition: background-color 0.3s ease;
}